/* Eric Meyer's CSS Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/* End of Eric Meyer's CSS Reset */

body {
    font: 12px/18px Arial, sans-serif;
    background: #cccccc;
}

.wrapper {
    min-width: 1200px;
    max-width: 1920px;
   
    margin: 0 auto;
}


/* Header
-----------------------------------------------------------------------------*/
.header {
    height: 55px;
    background: black;

    min-width: 600px;
    width: 100%;
    margin: 0 auto;
}


/* Middle
-----------------------------------------------------------------------------*/
.middle {
    width: 100%;
    position: relative;


}
.middle:after {
    display: table;
    clear: both;
    content: '';
}

h2{
    padding-top: 15px;
    text-align: center;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 2em;

}




.container {
    width: 600px;
    min-height: 300px;

    margin: 0 auto;
    margin-top: 20px;
    border-radius: 5px;
    background: #ffffff;
    overflow: auto;
}
.info{
    padding-top: 55px;
    padding-bottom: 50px;
    text-align: center;
    color: #000000;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 2em;

}

.main_head {
    height: 80px;
    background: black;

    min-width: 1200px;
    width: 100%;
    margin: 0 auto;
}


.form-signin{

    width: 400px;
    margin: 0 auto;
    background: #fff;
    margin-top: 50px;
    padding: 20px 20px 20px 20px;
    border-radius: 5px;
}
.form-signin .input{

    width: 350px;
    height: 40px;

    margin-top: 20px;
    margin-left: 20px;
    background-color: #c1c5c7;

    -webkit-border-radius: 12;
    -moz-border-radius: 12;
    border-radius: 12px;
}

.form-signin .inputnormal{

    width: 250px;
    height: 40px;

    margin-top: 20px;
    margin-left: 20px;
    background-color: #c1c5c7;

    -webkit-border-radius: 12;
    -moz-border-radius: 12;
    border-radius: 12px;
}
.form-signin .input:focus, .inputnormal:focus 
{
    background-color: #dfe9ec;
    color: #000;

    outline: none;

}

.username{
    background-image: url("../image/login_ico.png");
    height: 40px;
    width: 16px;
    background-repeat:no-repeat;
    background-position:6px;
    padding-left: 30px;
    margin-bottom: 20px;


}
.password {

    background-image: url("../image/pass_ico.png");
    height: 40px;
    width: 16px;
    background-repeat:no-repeat;
    background-position:6px;
    padding-left: 30px;
    margin-bottom: 20px;

}
.email{

    height: 40px;
    width: 16px;
    background-repeat:no-repeat;
    background-position:6px;
    padding-left: 30px;
    margin-bottom: 20px;

}
.link_button{

    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: 25px;
}
.normal{
    margin-left: 100px;
    width: 200px;
    height: 50px;
}
.button{


    text-align: center;
    background: #e7ecf0;
    background-image: -webkit-linear-gradient(top, #e7ecf0, #c1c5c7);
    background-image: -moz-linear-gradient(top, #e7ecf0, #c1c5c7);
    background-image: -ms-linear-gradient(top, #e7ecf0, #c1c5c7);
    background-image: -o-linear-gradient(top, #e7ecf0, #c1c5c7);
    background-image: linear-gradient(to bottom, #e7ecf0, #c1c5c7);
    -webkit-border-radius: 12;
    -moz-border-radius: 12;
    border-radius: 12px;
    font-family: Arial;
    color: #000000;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}


.button:hover {
    color: #ffffff;
    background-image: -webkit-linear-gradient(top, #232729, #0c1114);
    background-image: -moz-linear-gradient(top, #232729, #0c1114);
    background-image: -ms-linear-gradient(top, #232729, #0c1114);
    background-image: -o-linear-gradient(top, #232729, #0c1114);
    background-image: linear-gradient(to bottom, #232729, #0c1114);
    text-decoration: none;
}



label {
    font-size: 15px;
    font-weight: bold;
    margin-top: 30px;
    margin-left: 30px;
}

.out_cont{
    width: 500px;
    min-height: 50px;
    margin: 0 auto;
    margin-top: 50px;
    background: #ffffff;
    border-radius: 5px;

}
.information{
    text-align: center;
    padding-top: 12px;
    padding-bottom: 15px;
    color: #000000;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 2em;

}
